@use "../constants" as c;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: c.$font-main, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: c.$font-main, sans-serif;
  font-size: c.$font-size-16;
}

body {
  font-family: c.$font-main, sans-serif;
  color: c.$primary;
}

h1 {
  margin: 0;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}
